.root {
  width: 100%;
  display: flex;
  align-items: start;
  column-gap: 12px;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 24px 24px;
}

