.root {
  display: flex;
  flex-wrap: wrap;
}

.t10 {
  font-weight: 400;
  font-size: 10px;
}

.t14 {
  font-weight: 400;
  font-size: 14px;
}

.t14_130 {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.01em;
}

.t18 {
  font-weight: 400;
  font-size: 18px;
}

.t18b {
  font-weight: 400;
  font-size: 18px;
  font-weight: 900;
}

.t24b {
  font-weight: 400;
  font-size: 24px;
  font-weight: 900;
}

.t30b {
  font-weight: 400;
  font-size: 30px;
  font-weight: 900;
}
